.react-resizable {
    position: relative;
    background-clip: padding-box;
}

.react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
}

.ant-table-tbody > tr.visited-row:not(.ant-table-row-selected) > td {
    background-color: #fff7e6;
}

.ant-table-tbody > tr.visited-row:not(.ant-table-row-selected):hover > td {
    background-color: #ffe7ba;
}
